@model List<Product>
@{
    ViewData["Title"] = "Результат поиска";
}

<h2 class="display-4">Результат поиска</h2>
@if (ViewBag.Price != null)
{
    <p>Вы ввели цену: @ViewBag.Price</p>
}
@if (Model.Count != 0)
{
    <p>Найденные продукты:</p>
    @foreach (var item in Model)
    {
        <p>@item.ToString()</p>
    }
}
else
{
    <p>Продукты не найдены</p>
}